{% extends 'base.html' %}
{% block jss %}
<script>
  let isDarkmode = true
  let basePath = "{{ url_for('static', filename='cache/') }}"
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
<script src="{{ url_for('static', filename='actions.js') }}"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  var io = io();
  const Room = "{{ session }}"
</script>
<script src="{{ url_for('static', filename='socket.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
  
  <div class="header">
    <div class="title">
      <h2>Sitebot</h2>
    </div>
    <div class="menu">
      <button id="mode"><i class="fa-solid fa-moon"></i></button>
    </div>
  </div>
  
  <div class="messages" id="msg-cont">
    
    <div class="spacer">
      <div class="inner-spacer">
        <div class="text">
          <p>
            Welcome! This sitebot was created by <a
            href="https://www.facebook.com/facebook.com.2025" target="_blank">Greegmon</a>,
            You can interact with it using various commands.
            Type <b>'/help'</b> to view a list of available commands.
          </p>
        </div>
        <div class="clicks">
          <a href="https://github.com/christhenoob13/sitebot" target="_blank"><button class="repository-button"><i class="fa-brands fa-github"></i> Repository</button></a>
          <a href="https://facebook.com/greegmon.1" target="_blank"><button class="developer-button"><i class="fa-brands fa-facebook"></i> Developer</button></a>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="input_container">
    <div class="CLICKS">
      <!--
      <div class="other">
        <button id="upload_image" class="other">
          <i class="fa-solid fa-image"></i>
        </button>
        <button id="upload_video" class="other">
          <i class="fa-solid fa-video"></i>
        </button>
      </div>
      -->
      <div class="input">
        <textarea type="text" placeholder="Message here..." id="input"></textarea>
      </div>
      <div class="button">
        <button id="send" onclick="execute()"><i class="fa-solid fa-arrow-up"></i></button>
      </div>
    </div>
  </div>
  
</div>
{% endblock %}